.container {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 25px;
}

.username {
    color:#1A1B4B;
}

.button {
    padding: 5px 10px;
background-color: #292A73;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover,
.button:focus {
    background-color: #3A9EFD;
        color: #000;
}